body {
  background-image: url(/background.jpg);
  background-color: rgba(255, 255, 255, 0);
  background-size: 100%;
  color: #000000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 45px;
  margin: 30px;
  padding-top: 30px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: rgba(61, 85, 79, 0.51);
    border-radius: 5px;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.span8{
  font-family: 'Times New Roman', Times, serif;
  color: #000746;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 5px;
  padding: 20px;
  TABLE {
    width: 300px;
    border-collapse: collapse;
  }
  TD, TH {
    padding: 3px;
    border: 1px solid black;
  }
  TH {
    background: rgba(124, 165, 181, 0.58);
  }
}

.well.sidebar-nav{
  font-family: 'Times New Roman', Times, serif;
  color: #007a98;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  font-style: italic;
  border-radius: 5px;
  ul, td {
    text-decoration-color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
